* {
    box-sizing: border-box;
    color: rgba(248, 249, 250, 1)
    
}

body {
    font-family: 'Permanent Marker', 'Courier New', Courier, monospace;
    background-color: rgba(32, 33, 36, 1);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    overflow: hidden;

}

.header-text {
    font-size: 3rem;
}

.content-box {
    background-color: rgba(60 ,64, 67, .7);
    border-radius: 1rem;
    box-shadow: 0 0 15px 0px rgba(232, 234, 237, 1);
    width: 40rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    flex: 1, 1;
}

#content-box-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

#play-box-header-points {
    font-family: 'Orbitron', 'Permanent Marker', 'Courier New', Courier, monospace;
    padding: .1rem .2rem .1rem .2rem;
    border-radius: .5rem;
    background-color: rgba(201, 218, 241, .2);
}

#score-text {
    display: flex;
    justify-content: space-around;
}

#score-board {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 2rem;
}

.show-winner {
    border: .2rem solid rgba(90, 211, 140, 1);
    border-radius: .5rem;
    padding: 0rem .5rem 0rem .5rem;
}

.score {
    font-family: 'Orbitron', 'Permanent Marker', 'Courier New', Courier, monospace;
    padding: .1rem .2rem .1rem .2rem;
    border-radius: .5rem;
    background-color: rgba(201, 218, 241, .2);
}

#round-counter {
    text-align: center;
    margin-bottom: 1rem;
}

.choice-content {
    display: flex;
    justify-content: space-between;
}

#player-ui {
    display: flex;
    flex-direction: column;
    gap: .4rem;
    justify-content: center;
}

#choice {
    background-color: white;
    color:rgba(32, 33, 36, 1);
    border: .2rem solid rgba(242, 139, 130, 1);
    border-radius: 2rem;
    padding: 0rem .5rem 0rem 0.5rem;
    min-width: 10rem;
    height: 2rem;
    text-align: center;
}

.btn {
    color:rgba(32, 33, 36, 1);
    font-family: 'Permanent Marker', 'Courier New', Courier, monospace;
    max-width: 7rem;
    border-radius: .5rem;
    box-shadow: 0 0 2px 0 rgba(232, 234, 237, 1);
    background-color: rgba(242, 139, 130, 1);
}

.btn:hover {
    background-color: white;
}

#btn-restart {
    background-color: rgba(242, 139, 130, 1);
}

#btn-restart:hover {
    background-color: white;
}

.text-primary {
    font-size: 2rem;
}

.text-secondary {
    color: rgba(154, 160, 166, 1);
}

#rule-box-header {
    text-align: center;
}
